/******************************************
/* SPECIFIC LUTECE DEFAULT THEME STYLES   *
******************************************/
/* CORE STYLES */
/* Fix for fixed-nav-bar*/
body{padding-top:60px;}

.container{min-height:600px;}

/* img list styles */
img.thumblist-mini{width:24px;height:24px;}
img.thumblist-small{width:32px;height:32px;}
img.thumblist-medium{width:64px;height:64px;}
img.thumblist-large{width:128px;height:128px;}
/* END CORE STYLES */

/* avatar default styles */
.avatar{margin:2px;border:1px solid #000;padding:2px;margin-right:10px;}
.avatar-mini{width:18px;height:18px;}
.avatar-small{width:32px;height:32px;}
.avatar-large{width:64px;height:64px;}
.avatar-huge{width:128px;height:128px;}

/* jumbotron style */
.jumbotron{box-shadow: 7px 7px 5px #888888;}

/* autocompletion style */
.ui-autocomplete{max-height:100px;overflow-y:auto;overflow-x:hidden;}

/* Panel style */
.panel-info > .panel-heading{color:#000000;background-color:#BDB76B;background-image:none;border-color:#BDB76B;}
.panel-info{border-color:#BDB76B;}

/* lists style */
table .hover_tr:nth-child(odd){background:#EEEEEE;}
.hover_tr:hover{background:#D0D0D0 !important;}
td a{display:block;color:black;}
td a:hover{text-decoration:none;color:black;}
.list-group{overflow-y:scroll; height:500px;}

/* p style */
.p_description{text-align:justify;height:160px;}

.table_stats{width:100%;}
.table_stats th{border:1px solid black;padding:2px;background:#ebebe0;}
.table_stats th:nth-child(2){text-align:center;}
.table_stats td{border:1px solid black;padding:2px;background:#ebebe0;}
.table_stats td:nth-child(2){text-align:center;}
.table_stats #last_row{background:#fff2cc;}

/* button style */
#margin_button{margin-right:1px;}
#pullright_button{margin-top:-6px;}